<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @document.document.original_filename %>
</p>

<br />
<br />
<br />

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
